In [2]:
#load csv data

import pandas as pd

df1 = pd.read_csv('data/taxi.csv.bz2')
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2018-10-31 07:10:55,2018-11-01 06:43:24,1,2.57,1,N,211,48,1,14.5,0.5,0.5,4.74,0.0,0.3,20.54
1,2,2018-10-31 16:38:25,2018-10-31 16:50:10,5,3.58,1,N,237,144,2,12.5,0.5,0.5,0.00,0.0,0.3,13.80
2,2,2018-10-31 20:23:41,2018-10-31 20:31:47,1,2.39,1,N,163,107,1,9.0,0.5,0.5,1.00,0.0,0.3,11.30
3,2,2018-10-31 22:44:24,2018-10-31 22:48:28,1,0.50,1,N,246,246,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
4,2,2018-10-31 23:22:18,2018-10-31 23:35:30,1,1.81,1,N,79,90,1,10.0,0.5,0.5,2.26,0.0,0.3,13.56

In [4]:
# See types of each columns
df1.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [5]:
# it shows datetime as string to change that:
time_cols = ['tpep_pickup_datetime', 'tpep_dropoff_datetime']
df2 = pd.read_csv('data/taxi.csv.bz2', parse_dates = time_cols)
df2.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [10]:
# get small part of big data

df3 = pd.read_csv('data/taxi.csv.bz2', parse_dates = time_cols, chunksize = 1000)
df3

In [11]:
for df in df3:
    print(len(df))

1000
1000
1000
1000
1000
1000
1000
1000
1000
1000

In [34]:
# convert csv to json file
import json

df2.to_json(r'data/taxi.json')

In [46]:
# convert csv to json (one record at a time)
with open('data/taxi2.json', 'w') as out:
    for i in range(df2.shape[0]):
        df2.iloc[i].to_json(out)
        out.write('\n')